.statsCont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: .5em;
    margin-bottom: 4em;
 

}

.statsBox{
    /* background-color: var(--ligth-background); */
    border-radius: 20px;
    padding: 2em 1em;
    width: 18%;
    min-width: 180px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .35);
    transition: all .3s;
    text-align: center;    

}
.statsBox h2{
    color: var(--secondary-text);
    font-size: 4em;
    margin: 0;
    padding: 0;
}
.stats-subtitle{
    color: var(--main-text);
    line-height: 1em;
    text-transform: uppercase;
}
.back{
    display: none;
    font-size: .65em;
    line-height: 1.1em;
    transition: all 3s;    
    text-align: justify;
    color: var(--main-text);
    padding: 0;
}
.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back, .front{
    height: 170px;
}

.statsBox:hover{
    background-color: var(--secondary-text);
}
.statsBox:hover .back{
    display: block;
}
.statsBox:hover .front{
    display: none;
}
.statsBox:hover  h2{
    color: var(--ligth-background);
}


@media only screen and (max-width: 1100px) {
    .statsBox{
        width: 18%;
        min-width:180px ;
        padding: 1em 0.5em;

    }   
    .back{
        font-size: .6em;
    } 
}
@media only screen and (max-width: 500px) {
    .statsBox{
        width: 90%;

    }  
    .back{
        font-size: .85em;
    } 

}





