.callCont{
    padding: 1em;
    margin-top: 3em;
}
.callTextCont{
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    padding: 2em 1em;
    background-color: var(--ligth-background);

}
.d-flex img {
    width: 150px;
}
.d-flex{
    display: flex;
    align-items: center;
    line-height: 1.8em;

}
.d-flex h2{
    color: var(--secondary-text);
    text-transform: uppercase;
    font-size: 2em;
    text-align: justify;
}
.d-flex p{
    color: var(--main-text);
    text-align: justify;
}
.callTextCont a{
    padding: 2em 7em;
    border-radius: 25px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--main-text);
    background-color: var(--secondary-text);
    text-decoration: none;
}
.callTextCont a:hover{
    background-color: var(--secondary-text);
    box-shadow: 0px 0px 5px var(--main-text);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .callTextCont{
        flex-wrap: wrap;
    }
    .callTextCont a{
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px) {
    .callTextCont a{
        width: 100%;
        padding: 2em;
        margin-top: 1em;
        text-align: center;
    }
    .d-flex img{
        display: none; 
   }
   .d-flex h2{
     font-size: 1.7em;
   }
   .d-flex p{
    line-height: 1.5em;
   }
}