.heroContainer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3.5em;
    padding: 5em 0em;
    /* border: 1px solid yellow; */
    position: relative;


}
.heroText{
    padding: 3em 0em;
    width: 100%;
    position: relative;
    z-index: 1000;
    
}
/* img position  */
.starsImg{
    position: absolute;
}

.p2{
    top:0 ;
    right: 20px;  
    width: 80px;
    transform: rotate(90deg); 
    animation-name: bounceStar;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounceStar {
    from {
        top:0;
    }
    to{
        top:15px;
    }
}
/*  */
.heroText h1{
    color: var(--main-text);
    font-size: 4em;
    text-transform: uppercase;
    word-wrap: break-word;
    
}
.heroText h2{
    color: var(--main-text);
    font-size: 1em;
    letter-spacing: .2em;
}

.heroBtn{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    position: relative;
    z-index: 1001;
    /* border: 1px solid yellow; */
}

.heroBtn button{
    padding: 2em 15em;
    border-radius: 15px;
    color: var(--main-text);
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .2s;
    
}
.heroBtn button:hover{
    background-color: var(--secondary-text);
    box-shadow: 0px 0px 5px var(--main-text);
    cursor: pointer;
}
.textNaranja{
    color: var(--secondary-text);
}
.naranja{
    background-color: var(--secondary-text);
  }
.ligthBlue{
    background-color: var(--ligth-background);
}


@media only screen and (max-width: 1024px) {
    .heroBtn button{
        padding: 1.5em 10em;
        width: 90%;
    }
    .heroText h1{
        font-size: 3.5em;
    }
    .heroText h2{
        line-height: 1.2em;
    }
}