.heroContainer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0em;
    position: relative;
    /* border: 1px solid yellow; */



}
.heroTextCont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.heroText{
    width: 45%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.herotectimglogo{
    height: 1.05em;
    width: 1.05em;
    margin-bottom: -.15em;
    margin-right: -.3em;
    margin-left: -.5em;

}

@keyframes bounceStar {
    from {
        top:0;
    }
    to{
        top:15px;
    }
}
/*  */
.heroText h1{
    color: var(--main-text);
    font-size: 6.2em;
    text-transform: uppercase;
    /* word-wrap: break-word; */
    line-height: 1em;
    width: 100%;

    
}
.heroText h2{
    color: var(--main-text);
    font-size: 1em;
    /* letter-spacing: .1em; */
    line-height: 1.2em;
    margin-left: -1em;
    margin-bottom: 2em;
    text-align:justify;

}
.heroTextImg{
    width: 100%;
    margin-top: -4em;
    margin-right: -5em;
    background-size: contain;
    
    /* border: 1px solid yellow; */
}

.heroBtn{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 1em;
    width: 100%;

    /* border: 1px solid yellow; */
}

.heroBtn a{
    padding: 1.5em ;
    border-radius: 15px;
    color: var(--main-text);
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: .2s;
    width: 50%;
    text-align: center;
    text-decoration: none;
    
}
.heroBtn a:hover{
    background-color: var(--secondary-text);
    box-shadow: 0px 0px 5px var(--main-text);
    cursor: pointer;
}
.textNaranja{
    color: var(--secondary-text);
}
.naranja{
    background-color: var(--secondary-text);
  }
.ligthBlue{
    background-color: var(--ligth-background);
}


@media only screen and (max-width: 1024px) {
    

    .heroText h1{
        font-size: 3.9em;

    }
    .heroText h2{
        line-height: 1.2em;
    }
}
@media only screen and (max-width: 524px) {
    .heroBtn{
        flex-wrap: wrap;
    }
    .heroBtn a{
        width: 100%;
    }
    .heroText{
        width: 90%;
        margin: auto;
    }
    .heroTextImg{
        margin: 0;
    }
    .heroText h1{
        margin-left: .5em;
    }
    .heroText h2{
        margin-left: 0;
    }
}


