@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
  margin: 0;
  padding: .1em;
  box-sizing: border-box ;
  font-family: "Poppins";
  
}

:root{
  --main-background: #161d46;
  --ligth-background: #1d1fa5;
  --secondary-background: #61443b;
  --main-text: #f9f9f9;
  --secondary-text: #fb4000;
}

body{
  background-color: var(--main-background);
}
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}